a{
    text-decoration: none;
}
body{
    font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.select2-selection {
    height: auto !important;
    padding-left: 0 !important;
}

.select2-selection__arrow {
    height: auto !important;
    top: 50% !important;
    right: 3px !important;
}
.page-header{
    margin: 0px !important;
}

.hidden-step-add-customer{
    opacity: 0.5;
}

#select-page-size {
    width: auto !important;
}
.betweenstep{
    margin-left:5px ;
    margin-right: 5px;
}
.radius-border{
    border-radius: 15px;
}
.label-input-in-line
{
    display: inline;
    width: 65%  ;
    margin-left: 15px ;
}
label{
    margin-right: 15px;
}
.string-in-line-input{
    width: 80%;
    display: inline-block;

}
.has-success{
    border-color: #00a65a; !important;
 }
.boder-badge{
    border: 2px solid rgba(191, 188, 186, .3);
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    box-shadow: 1px 1px rgba(191, 188, 186, .5);
}
.mini-badge{
    padding: 0px 10px;
    border-radius: 6px;
    border: 1px solid black;
    margin: 13px 23px;
}
.row-dont-has-margin{
    margin: 0px 0px
}
.border-badge-dont-have-margin{
    border: 2px solid rgba(191, 188, 186, .3);
    padding-top: 5px;
    padding-bottom: 5px;
    box-shadow: 1px 1px rgba(191, 188, 186, .5);
}
.badge-info td{
    padding: 10px 25px 10px 0px;

}
.line{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 1px;
    border: 1px solid grey;
    background-color: grey;
    width: 60%;
    border-radius: 5px;
}
.table-issuer-other-badge td{
    padding: 5px 0px;
}
.row{
    margin-left: 0px;
    margin-right: 0px;
}