.collection-search-bar{
    margin-top:30px;
    position:relative
}
.member-collection .collection-search-bar{
    margin-top:0;
    position:relative
}
.member-collection .collection-list-wrapper{
    margin-top:15px
}
.collection-search-bar .search-box{
    margin-right:180px;
    background-color:#fff;
    border-radius:12px;
    overflow:hidden
}
.collection-search-bar .search-box input[type="text"],.collection-search-bar .search-box .btn{
    height:52px;
    font-size:16px;
    padding:0 30px 0 15px;
    outline:none
}
.collection-search-bar .search-box input[type="text"]{
    border:1px solid #eee;
    box-shadow:none;
    background:#f6f6f6
}
.quick-create-collection{
    position:absolute;
    top:0;
    right:0;
    width:180px;
    text-align:right
}
.quick-create-collection .btn{
    height:52px;
    width:170px;
    font-size:16px;
    border-radius:12px
}
.page-title{
    font-size:24px;
    padding:15px 0;
    font-weight:bold
}
.collection-navbar{
    box-shadow:none;
    background-color:#fff;
    padding:10px;
    margin:15px 0;
    border:1px solid #eee;
    font-size:20px
}
.collection-navbar a{
    color:#909090;
    display:block;
    text-decoration:none;
    margin-right:15px;
    overflow:hidden
}
.collection-navbar a:hover{
    color:#333
}
.collection-navbar li.active a{
    color:#d2322d
}
.collection-result-desc{
    font-size:12px;
    color:#b2b2b2
}
.collection-result-desc .count{
    color:#d43f3a
}
.collection-list{
    position:relative
}
.collection-list-wrapper .collection-list{
}
.collection-list .body-content{
}
.collection-list li.header{
    color:#aaa;
    font-size:16px;
    margin-bottom:12px
}
.collection-list .list-text{
    float:left;
    display:block;
    width:80%
}
.featured-collection-container{
    overflow:hidden;
    margin:0 -15px
}
.featured-collection-list{
    width:2000px
}
.featured-collection{
    width:293px;
    float:left;
    overflow:hidden;
    position:relative;
    padding:15px
}
.featured-collection .inner{
    overflow:hidden;
    position:relative;
    border-radius:16px
}
.featured-collection .inner .photo{
}
.featured-collection .inner .photo::before{
    content:"";
    background-image:-webkit-linear-gradient(transparent,rgba(0,0,0,.2) 50%,rgba(0,0,0,.7));
    background-image:linear-gradient(transparent,rgba(0,0,0,.2) 50%,rgba(0,0,0,.7));
    background-repeat:no-repeat;
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    transition:all .2s ease;
    display:block
}
.featured-collection .inner .featured-image-small{
    width:100%;
    height:100%
}
.collection-page-heading{
    padding:15px 0
}
.member-collection-desc{
    max-width:900px;
    margin:0 auto;
    color:#777
}
.member-collection-stats{
    font-size:18px;
    padding:8px
}
.member-collection-stats .count{
    color:#d43f3a
}
.top-overlay-box{
    background:rgba(0,0,0,.3);
    background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(0,0,0,0)),color-stop(1%,rgba(0,0,0,0)),color-stop(100%,rgba(0,0,0,.65)));
    background:-webkit-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,0) 1%,rgba(0,0,0,.65) 100%);
    background:-webkit-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,0) 1%,rgba(0,0,0,.65) 100%);
    background:linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,0) 1%,rgba(0,0,0,.65) 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000',endColorstr='#a6000000',GradientType=0);
    width:100%;
    height:100%;
    position:absolute;
    opacity:.1
}
.top-overlay-box:hover{
    opacity:.2
}
.top-collection-header{
    padding:10px;
    position:absolute;
    bottom:10px;
    left:0;
    right:0;
    text-align:center
}
.top-collection-header .title{
    font-size:16px;
    margin:4px 0;
    max-height:42px;
    overflow:hidden
}
.top-collection-header a{
    white-space:normal;
    color:#fff;
    font-weight:bold;
    line-height:130%
}
.featured-collection .collection-item-acts{
    position:absolute;
    top:15px;
    right:15px
}
.top-collection-stats{
    font-size:12px
}
.collection-featured .collection-item-acts{
    position:absolute;
    right:10px;
    bottom:12px
}
.btn-subscribe{
    font-size:12px;
    background-color:#000;
    padding:5px 10px;
    border:1px solid transparent;
    color:#fff;
    border-radius:12px
}
.featured-collection .inner .btn-subscribe{
    opacity:.4
}
.featured-collection .inner:hover .btn-subscribe{
    opacity:1
}
.btn-subscribe:hover,.btn-subscribed{
    text-decoration:none;
    background-color:#c70808;
    color:#fff;
    border:1px solid #d32f2f
}
.collection-overlay-box{
    background:rgba(0,0,0,.3);
    background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(0,0,0,0)),color-stop(1%,rgba(0,0,0,0)),color-stop(100%,rgba(0,0,0,.65)));
    background:-webkit-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,0) 1%,rgba(0,0,0,.65) 100%);
    background:-webkit-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,0) 1%,rgba(0,0,0,.65) 100%);
    background:linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,0) 1%,rgba(0,0,0,.65) 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000',endColorstr='#a6000000',GradientType=0);
    width:100%;
    height:100%;
    position:absolute;
    opacity:.5
}
.collection-overlay-box:hover{
    opacity:.3
}
.collection-item{
    width:25%;
    padding:15px;
    float:left
}
.collection-item-card{
    border:1px solid #ddd;
    padding:15px;
    position:relative;
    background-size:32px 32px;
    background-color:#fff;
    border-radius:12px
}
.collection-photo{
    position:relative;
    overflow:hidden;
    border-radius:12px
}
.collection-photo .photo{
    overflow:hidden;
    display:block;
    background:#fafafa;
    border-radius:12px
}
.collection-photo .photo img{
    object-fit:cover;
    width:100%
}
.collection-photo-thumbs{
    clear:both;
    overflow:hidden;
    text-align:center;
    margin:0 -5px;
    height:82px
}
.collection-photo-thumbs a{
    text-decoration:none
}
.collection-photo-more{
    font-size:18px;
    display:block;
    height:100%;
    padding-top:20px;
    background-color:#f6f6f6;
    border-radius:8px;
    color:#b2b2b2
}
.collection-photo-more:hover{
    color:#fff;
    background-color:#c70808;
    border-color:transparent
}
.collection-head{
    overflow:hidden
}
.member-collection-content .collection-photo{
    max-height:148px
}
.collection-item-card .creator{
    font-size:12px;
    padding-top:15px
}
.collection-item-card .creator .avt img{
    width:36px;
    height:36px;
    border-radius:50%;
    margin-right:5px
}
.collection-item-card .creator a{
    font-size:12px;
    font-weight:bold;
    display:inline-block;
    text-align:left;
    vertical-align:middle;
    text-decoration:none
}
.collection-item-card .creator a>span{
    font-size:11px;
    color:#b2b2b2;
    font-weight:normal;
    display:block
}
.collection-photo-thumbs .photo{
    width:70px;
    height:70px;
    overflow:hidden;
    background-color:#f9f9f9;
    border-radius:12px;
    display:block;
    float:left;
    margin:0 5px;
    margin-top:10px;
    box-shadow:0 1px 1px rgba(0,0,0,.33) inset;
    text-decoration:none;
    border:.5px solid #eee
}
.collection-photo-thumbs .photo img{
    width:70px;
    height:70px;
    border-radius:12px
}
.collection-actions-box{
    width:100%;
    border-radius:4px;
    position:absolute;
    top:80px;
    text-align:center
}
.collection-actions{
    background:rgba(0,0,0,.3);
    color:#ddd;
    padding:10px 8px;
    border-radius:20px;
    font-weight:700;
    font-size:14px;
    line-height:14px;
    overflow:hidden;
    text-align:center;
    position:relative;
    margin:0 50px;
    border:1px solid #555
}
.collection-header-box{
    color:#333;
    padding:5px 0;
    clear:both
}
.collection-header-box a{
    color:#333;
    white-space:normal
}
.collection-header-left{
    width:60px;
    border-right:1px solid #eee
}
.collection-header-right{
    padding-left:10px;
    vertical-align:middle
}
.collection-item-card .collection-header-box{
    text-align:center
}
.collection-item-card .collection-header-box .title{
    line-height:20px;
    overflow:hidden;
    margin:5px 0;
    height:42px;
    font-size:16px;
    font-weight:bold;
    text-align:center
}
.collection-stats{
    font-size:12px;
    color:#8a8a8a;
    position:absolute;
    top:20px;
    width:100%
}
.collection-stats .stats-item{
    color:#b2b2b2;
    padding-right:10px;
    display:block;
    background:#fff;
    opacity:.8;
    border-radius:20px;
    padding:2px 8px;
    text-align:center;
    width:100px;
    margin:0 auto
}
.collection-item-card .collection-item-acts{
    padding:10px 15px;
    border-top:.5px solid #eee;
    overflow:hidden;
    margin:-15px;
    margin-top:10px;
    background:#f8f8f8;
    border-radius:0 0 12px 12px;
    min-height:48px
}
.collection-item-card .collection-item-acts .avt{
    font-weight:bold
}
.collection-item-card .collection-item-acts .btn-subscribe{
    background-color:#f0f0f0;
    color:#666;
    border:.5px solid #ddd;
    float:right;
    opacity:1;
    border-radius:8px
}
.collection-item-card .collection-item-acts .btn-subscribe:hover,.collection-item-card .collection-item-acts .btn-subscribed{
    background-color:#c70808;
    color:#fff;
    border:.5px solid #d32f2f
}
.collection-item-acts .creator{
    float:left;
    padding:4px 0
}
.collection-cover-bg{
    background-size:cover
}
.collection-cover{
    position:relative
}
.collection-overlay{
    background:rgba(0,0,0,.3);
    background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(0,0,0,0)),color-stop(1%,rgba(0,0,0,0)),color-stop(100%,rgba(0,0,0,.65)));
    background:-webkit-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,0) 1%,rgba(0,0,0,.65) 100%);
    background:-webkit-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,0) 1%,rgba(0,0,0,.65) 100%);
    background:linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,0) 1%,rgba(0,0,0,.65) 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000',endColorstr='#a6000000',GradientType=0);
    width:100%;
    height:200px;
    position:absolute;
    bottom:0
}
.collection-info{
    padding:10px 0 10px 0;
    text-align:center
}
.collection-info h1{
    color:#333;
    font-size:24px
}
.collection-owner{
    padding:10px
}
.collection-owner .avt{
    position:relative
}
.collection-owner .avt a{
    display:block
}
.collection-owner a.name{
    font-weight:bold
}
.collection-info .collection-info-stats{
    font-size:12px;
    color:#e5e5e5
}
.collection-info .collection-info-actions{
}
@media only screen and (max-width:600px) and (min-width:300px){
    .collection-info .collection-info-actions{
        top:15px
    }
}
@media(max-width:992px){
    .collection-header-box a{
        font-size:18px
    }
}
.collection-config{
    padding:10px;
    margin-bottom:10px;
    border-radius:3px;
    width:100%;
    float:left
}
.collection-info-actions .stats-count{
    float:left;
    display:block;
    margin:-7px -13px;
    padding:10px 16px;
    border-radius:4px 0 0 4px;
    color:#444;
    margin-right:10px;
    padding-left:8px;
    padding-right:13px;
    font-size:12px;
    background:#ddd;
    position:relative
}
.collection-info-actions .stats-count.active{
    background:#d2322d;
    color:#fff
}
.collection-info-actions .stats-count:after{
    border-color:transparent;
    border-left-color:#ddd;
    content:'';
    border-style:dashed dashed solid;
    border-width:6px 0 6px 5px;
    position:absolute;
    left:100%;
    bottom:auto;
    z-index:1;
    height:0;
    width:0
}
.collection-info-actions .stats-count.active:after{
    border-left-color:#d2322d
}
.collection-cover .breadcrumb-container{
    position:absolute;
    bottom:0;
    padding:15px;
    padding-bottom:0;
    float:left;
    width:100%
}
.collection-cover .breadcrumb-container a{
    color:#777
}
.collection-header-box .recipe-stats{
    color:#777;
    font-size:12px
}
.collection-header-box .recipe-stats a{
    color:#777
}
.collection-create-form .form-control{
    max-width:400px
}
.collection-create-form .form-row .form-left{
    float:left;
    width:100px
}
.collection-create-form .form-row .form-right{
    float:inherit
}
.collection-top-bar{
    background:#fff;
    border:.5px solid #ddd;
    padding:10px;
    border-radius:12px;
    float:left;
    width:100%
}
.collection-top-bar .collection-info-actions{
    float:right
}
.collection-top-bar .collection-info-stats{
    float:left;
    padding:10px;
    padding-right:0
}
.collection-top-bar .collection-info-stats .stats-item{
    font-size:14px
}
.collection-top-bar .collection-info-actions .btn-subscribe{
    width:142px;
    font-size:14px;
    padding:8px 14px;
    background-color:#c70808;
    border:1px solid #d32f2f;
    color:#fff
}
.collection-top-bar .collection-info-actions .btn-subscribe.subscribed,.collection-top-bar .collection-info-actions .btn-subscribe:hover{
    background-color:#7cb342;
    border:1px solid #689f38
}
.collection-top-bar .collection-info-actions .btn-fb-share{
    padding:8px 14px;
    background:#f4f4f4;
    border:.5px solid #ddd;
    border-radius:12px
}
.collection-top-bar .collection-info-actions .btn-fb-share:hover{
    background:#f8f8f8
}
.collection-top-bar .btn-comment{
    border:1px solid #ddd;
    padding:8px;
    border-radius:4px;
    text-decoration:none;
    font-size:14px;
    background:#eee;
    text-align:center
}
.collection-top-bar .btn-comment:hover{
    background-color:#f8f8f8
}
div.member-collection-box{
    overflow:hidden
}
div.member-collection-sidebar{
    min-width:200px;
    border:1px solid #ddd;
    background-color:#fff;
    padding:15px
}
.collection-list .header a{
    color:#000;
    font-size:16px;
    font-weight:bold;
    padding:6px 0;
    display:block
}
.member-collection-content{
    overflow:hidden
}
.collection-list li{
    margin-bottom:4px;
    overflow:hidden;
    padding:0
}
.collection-list li a{
    border:1px solid transparent;
    color:#333;
    display:block;
    overflow:hidden
}
.collection-list li span.list-count{
    color:#333;
    padding:0 6px;
    float:right;
    background-color:#fff;
    border-radius:14px;
    font-weight:bold;
    font-size:12px;
    min-width:30px;
    text-align:center;
    border:1px solid #eee
}
div.collection-filterbar{
    overflow:hidden;
    padding:15px;
    padding:6px 15px 10px 0
}
.collection-list li.active{
    margin:0 -15px;
    padding:0 12px;
    border-left:3px solid #d43f32
}
.collection-list li.active a{
    color:#d43f3a
}
.collection-list li.active span.list-count{
    border:1px solid transparent;
    color:#fff;
    background-color:#d43f3a
}
.member-core-collection{
    overflow:hidden;
    clear:both
}
.core-collection-box{
    background-color:#fff;
    border:1px solid #eee;
    width:240px;
    height:240px;
    overflow:hidden;
    position:relative;
    margin-right:20px;
    margin-bottom:20px;
    float:left;
    border-radius:4px
}
.core-collection-box .caption{
    margin:34% auto;
    width:70px;
    border:1px solid #eee;
    height:70px;
    border-radius:50%;
    text-align:center;
    vertical-align:middle;
    background-color:#fafafa;
    color:#111;
    font-size:14px
}
.core-collection-box .caption a{
    display:block;
    width:100%;
    height:100%;
    text-align:center;
    padding-top:22px
}
.core-collection-box .caption .stats-count{
    color:#a0a0a0;
    display:block
}
.core-collection-box .c-recipe{
    width:70px;
    height:70px;
    display:block;
    overflow:hidden;
    position:absolute;
    border-radius:3px;
    box-shadow:0 1px 1px rgba(0,0,0,.2);
    background-color:#fafafa
}
.core-collection-box .c-recipe-1{
    top:8px;
    left:8px
}
.core-collection-box .c-recipe-2{
    top:8px;
    left:84px
}
.core-collection-box .c-recipe-3{
    right:8px;
    top:8px
}
.core-collection-box .c-recipe-4{
    top:84px;
    left:8px
}
.core-collection-box .c-recipe-5{
    bottom:8px;
    left:8px
}
.core-collection-box .c-recipe-6{
    left:84px;
    bottom:8px
}
.core-collection-box .c-recipe-7{
    bottom:8px;
    right:8px
}
.core-collection-box .c-recipe-8{
    right:8px;
    top:84px;
    text-align:center;
    padding-top:20px;
    font-size:20px;
    color:#d43f3a
}
.member-collection{
    overflow:hidden;
    clear:both
}
.member-collection .member-collection-item{
    float:left;
    margin-right:15px;
    margin-bottom:15px;
    overflow:hidden;
    background-color:#fff;
    position:relative;
    border-radius:3px
}
.collection-item-inner{
}
.collection-item-inner{
    display:table-cell;
    overflow:hidden;
    vertical-align:middle;
    text-align:center;
    width:254px;
    height:158px
}
.collection-item-inner .photo{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:0;
    overflow:hidden
}
.member-collection-item .collection-stats{
    font-size:14px
}
.member-collection-item .collection-stats .stats-count{
    font-size:16px
}
.member-collection-item .collection-stats .stats-text{
    color:#d5d5d5
}
.member-collection-item .collection-stats .overlay-stats{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:0;
    overflow:hidden;
    background-color:#111;
    opacity:.4;
    filter:alpha(opacity=40)
}
.member-collection-item .collection-item-overlay{
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-color:rgba(0,0,0,.2)
}
.member-collection-item .collection-item-overlay:hover{
    opacity:.5
}
.member-collection-item .collection-title{
    font-size:18px;
    position:absolute;
    top:24px;
    left:15px;
    line-height:20px;
    color:#fff;
    text-shadow:0 0 2px rgba(0,0,0,.3);
    margin:0;
    font-weight:400;
    padding:5px 0;
    z-index:1;
    border-top:1px solid rgba(255,255,255,.15);
    border-bottom:1px solid rgba(255,255,255,.15);
    text-align:left
}
.collection-title h3{
    margin:0
}
.collection-title a{
    color:#f9f9f9;
    font-size:16px;
    font-weight:normal
}
.member-collection-item .collection-stats .collection-stats-info{
    color:#fff;
    position:relative
}
.member-collection-item .collection-stats .collection-stats-info .stats-text{
    font-size:16px;
    margin:8px 0 6px 0
}
.member-collection-item .collection-stats .collection-stats-info .stats-text a{
    color:#fff
}
.member-collection-item .collection-stats .collection-stats-info .stats-count{
    color:#aaa;
    font-size:18px
}
.list-container{
    padding-top:15px
}
.collection-breadcrumb{
    background-color:transparent;
    color:#888;
    padding:0
}
.collection-breadcrumb li a{
    color:#888
}
.collection-breadcrumb li.active{
    font-size:16px;
    color:#333
}
.c-card-item{
    text-align:center;
    vertical-align:middle;
    position:relative;
    padding-bottom:10px
}
.c-card-item .c-card-actions{
    display:none;
    position:absolute;
    top:30%;
    z-index:1;
    width:100%
}
.c-card-item:hover .c-card-actions{
    display:block
}
.recipe-item-container{
    padding:10px
}
.collection-recipe-item{
    position:relative;
    background-color:#fff;
    padding:15px;
    border:.5px solid #eee;
    overflow:hidden;
    border-radius:12px
}
.collection-recipe-item .recipe-acts{
    float:right
}
.collection-recipe-photo{
    position:relative;
    overflow:hidden;
    border-radius:12px;
    min-width:240px;
    min-height:240px;
    background:#f6f6f6
}
.collection-recipe-header-box{
    padding-top:15px;
    padding-bottom:8px;
    width:100%;
    position:relative;
    border-bottom:.5px solid #ddd;
    margin-bottom:10px
}
.collection-recipe-header-box .title{
    margin:0;
    text-overflow:ellipsis;
    overflow:hidden;
    white-space:nowrap
}
.collection-recipe-header-box .title a{
    font-size:16px;
    color:#333;
    line-height:120%;
    display:block;
    text-overflow:ellipsis;
    overflow:hidden
}
.collection-recipe-header-box .desc{
    color:#7e7e7e;
    padding:10px 0;
    height:72px;
    overflow:hidden
}
.collection-recipe-header-box .recipe-stats,.collection-recipe-header-box .recipe-stats a{
    color:#9e9e9e;
    font-size:12px;
    padding:8px 0
}
.collection-recipe-header-box .recipe-stats li{
    padding-right:6px
}
.collection-recipe-header-box .recipe-stats .stats-count{
}
.collection-recipe-item .rating{
    position:absolute;
    top:15px;
    right:0;
    font-size:14px;
    font-weight:bold;
    padding:4px;
    text-align:center;
    background:#fff;
    border-radius:50%;
    overflow:hidden;
    border:1px solid #ddd;
    width:42px;
    height:42px
}
.collection-recipe-item .rating span{
    display:block
}
.collection-recipe-item .btn-add-favourite{
    text-decoration:none!important;
    color:#ddd;
    position:absolute;
    bottom:10px;
    right:10px;
    z-index:1
}
.collection-recipe-item .btn-save{
    font-size:12px;
    border:0;
    box-shadow:none;
    padding:0
}
.comment-widget-box .photo-viewer-act-links{
    padding-left:0;
    border:0;
    font-size:12px;
    border:1px solid #ddd
}
.photo-comment-item-profile{
    margin-right:6px
}
.photo-comment-box-profile img{
    border:1px solid #fff
}
.collection-comments .photo-viewer-act-links{
    border:0;
    border-bottom:1px solid #eee
}
.collection-comments .photo-viewer-act-links .count{
    color:#d43f3a
}
.collection-comments{
    border:1px solid #ddd;
    background-color:#fff;
    margin:10px 0;
    border-radius:4px;
    max-width:800px
}
.collection-comments .photo-viewer-comments-container{
    border:0;
    background:none
}
.collection-comments .photo-comment-box{
    background-color:#eee;
    border:0;
    border-radius:0 0 4px 4px;
    border-top:1px solid #ddd
}
.nocomments{
    color:#8a8a8a;
    font-style:italic
}
@media(max-width:768px){
    .collection-recipe-header-box .title a{
        font-size:20px
    }
    .collection-recipe-header-box .recipe-stats{
        font-size:16px
    }
    .collection-recipe-item .rating{
        font-size:18px;
        padding:4px 10px;
        top:10px;
        bottom:inherit
    }
}
.collection-item .collection-photo .photo:before{
    content:"";
    background:rgba(0,0,0,.1);
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0
}
.collection-item .collection-photo:hover .photo:before{
    opacity:0
}
.crlist{
}
.crlist .crcontainer{
    float:left;
    padding:10px;
    position:relative;
    width:290px
}
